<p id="notice"><%= notice %></p>

<h1>Financeiros</h1>

<table>
  <thead>
    <tr>
      <th>Financial</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @financeiros.each do |financeiro| %>
      <tr>
        <td><%= financeiro.financial %></td>
        <td><%= link_to 'Show', financeiro %></td>
        <td><%= link_to 'Edit', edit_financeiro_path(financeiro) %></td>
        <td><%= link_to 'Destroy', financeiro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Financeiro', new_financeiro_path %>
