<%= form_with(model: painel, local: true) do |form| %>
  <% if painel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(painel.errors.count, "error") %> prohibited this painel from being saved:</h2>

      <ul>
      <% painel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :painel %>
    <%= form.text_field :painel %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
