<p id="notice"><%= notice %></p>

<h1>Painels</h1>

<table>
  <thead>
    <tr>
      <th>Painel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @painels.each do |painel| %>
      <tr>
        <td><%= painel.painel %></td>
        <td><%= link_to 'Show', painel %></td>
        <td><%= link_to 'Edit', edit_painel_path(painel) %></td>
        <td><%= link_to 'Destroy', painel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Painel', new_painel_path %>
