<%= form_with(model: cronograma, local: true) do |form| %>
  <% if cronograma.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cronograma.errors.count, "error") %> prohibited this cronograma from being saved:</h2>

      <ul>
      <% cronograma.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :calendario %>
    <%= form.text_field :calendario %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
