<!DOCTYPE html>
<html>
  <head>
    <title>Kanri Erp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="css/theme.css" rel="stylesheet" media="all">
  </head>

  <body> 
  
    <%= yield %>
  
      <ul>
            <li>
                <a href="index.html">Dashboard</a>
                <% link_to "Dashboard", %>
            </li>
            <li>  
                <a href="financeiro.html">Financeiro</a>
                <% link_to "Dashboard", %>
            </li>
            <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-wrench"></i>Chamados</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="chamados.html">Painel de Chamados</a>
                                    <% link_to "Dashboard", %>
                                </li>
                                <li>
                                    <a href="calendario.html">Cronograma</a>
                                    <% link_to "Dashboard", %>
                                </li>  
                            </ul>
                        </li>
      </ul>

    </body>
    
</html>    

























            <!-- MAIN CONTENT-->
            <div class="main-content">
				
                <div class="section__content section__content--p30">
					
                    <div class="container-fluid">
					
					</div>
                       
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

 


  </body>
</html>
